@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square">1</button></div>
        <div class="col-md-1"><button type="button" class="btn square">2</button></div>
        <div class="col-md-1"><button type="button" class="btn square">3</button></div>
        <div class="col-md-1"><button type="button" class="btn square">4</button></div>
        <div class="col-md-1"><button type="button" class="btn square">5</button></div>
        <div class="col-md-1"><button type="button" class="btn square">6</button></div>
        <div class="col-md-1"><button type="button" class="btn square">7</button></div>
        <div class="col-md-1"><button type="button" class="btn square">8</button></div>
        <div class="col-md-1"><button type="button" class="btn square">9</button></div>
        <div class="col-md-1"><button type="button" class="btn square">0</button></div>
    </div>
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
    </div>
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
    </div>
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
        <div class="col-md-1"><button type="button" class="btn square"></button></div>
    </div>
</div>
