@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square key">1</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">2</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">3</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">4</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">5</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">6</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">7</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">8</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">9</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">0</button></div>
    </div>
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square key">Q</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">W</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">E</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">R</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">T</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">Y</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">U</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">I</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">O</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">P</button></div>
    </div>
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square key">A</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">S</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">D</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">F</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">G</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">H</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">J</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">K</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">L</button></div>
    </div>
    <div class="row keyboardRow">
        <div class="col-md-1"><button type="button" class="btn square key">Z</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">X</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">C</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">V</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">B</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">N</button></div>
        <div class="col-md-1"><button type="button" class="btn square key">M</button></div>
    </div>
</div>
